body{
	background-color: #FFFFFF;
}
table,td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
.tab{
	display: none;
}
#links{
	background-color: white;
}
iframe{
	height: 500px;
	width: 1240px;
}
#right{
	font-size: 35px;
	color: green;
}
#wrong{
	color: red;
	font-size: 35px;
}
#continue{
	display: none;
}